<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <a href="{% url 'testapp:Test' %}">Home</a>
    <a href="{% url 'testapp:Contact' %}">Contact</a>
    <a href="{% url 'testapp:About' %}">About</a>
    <a href="{% url 'app2:Home' %}">Settings</a>

    {% block body %}



    {% endblock %}

    <footer>
        <a href="">Crafted by The Fyucha</a>
    </footer>

</body>
</html>