{% extends 'layout.html' %}
{% block body %}
{% load static %}


    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <br>
            <hr>
            <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th class="scope">Image</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>Image</td>
                    </tr>
              </tbody>
            </table>
            <br>
            <hr>
            <br>

            </div>
        </div>
    </div>

{% endblock %}