{% extends 'layout.html' %}
{% block body %}
{% load static %}
    <title>View Data</title>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
            <h2>Students</h2>
            <hr>
            <h3>Tabular Format</h3>
            <hr>
            <br>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th class="scope">Image</th>
                  <th class="scope">Edit</th>
                  <th class="scope">Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for student in data %}
                  <tr>
                      <th scope="row">{{ student.id }}</th>
                      <td>{{ student.name }}</td>
                      <td>{{ student.email }}</td>
                      <td>{{ student.phone }}</td>
                      <td><img src="media/{{ student.image }}" alt="{{ student.name }}" width="100"></td>
                      <td>
                          <a href="/edit/{{ student.id }}" class="btn btn-warning">Edit</a>
                      </td>
                      <td>
                          <!-- Implement a modal -->
                          <!--<a href="" class="btn btn-danger">Delete</a>-->
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you'd like to delete {{ student.name }}'s data?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <a href="/delete/{{ student.id }}" class="btn btn-success">Yes</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </td>
                    </tr>

              {% endfor %}

              </tbody>
            </table>
            <br>
            <hr>
            <br>
            <br>
            <br>
        </div>
           <br>
            <hr>
            <br>
            <h2>Grid Display</h2>
            <hr>
            <br>

            <div class="row" style="width: 100%">
                {% for student in data %}
                    <div class="col-md-3 m-2">
                        <div class="card">
                          <img src="media/{{ student.image }}" class="card-img-top" alt="{{ student.name }}" style="width: 100%">
                          <div class="card-body">
                            <h5 class="card-title">{{ student.name }}</h5>
                            <p class="card-text">{{ student.email }}</p>
                            <a href="#" class="btn btn-primary">{{ student.phone}}</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <hr>
            <br>
            <br>
            </div>
    </div>

{% endblock %}

